@page
@using Helpers
@model WebApp.Pages_Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Reservations</h1>

@if (Model.Message != null)
{
    <div class="alert alert-success" role="alert">
        @Model.Message
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Route
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].Departure)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservations) {
        <tr>
            <td>
                <a class="text-decoration-none" asp-page="./Details" asp-route-id="@item.Id">@item.Route</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @item.Departure.GetFormattedDateTime()
            </td>
        </tr>
}
    </tbody>
</table>
