@page
@using Helpers
@model WebApp.Pages_Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Reservations</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.Reservations[0].Route)
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].Departure)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservations) {
        <tr>
            <td>
                <a class="text-decoration-none" asp-page="./Details" asp-route-id="@item.Id">@item.Route</a>
            </td>
            <td>
                @item.FirstName @item.LastName
            </td>
            <td>
                @item.Departure.GetFormattedDateTime()
            </td>
        </tr>
}
    </tbody>
</table>
