@page
@model WebApp.Pages_Providers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].FlightStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].FlightEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider[0].Leg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Provider) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leg!.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
