@page
@model WebApp.Pages_Providers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get">
    <div class="d-flex mb-1">
        <div class="col-2">
            <label asp-for="From" class="control-label"></label>
            <select asp-for="From" class="form-control" asp-items="Model.FromSelectList"></select>
        </div>

        <div class="col-2 mx-2">
            <label asp-for="To" class="control-label"></label>
            <select asp-for="To" class="form-control" asp-items="Model.ToSelectList"></select>
        </div>
        
    </div>
    <input type="submit" class="btn btn-primary" value="Filter"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].Companies)
            </th>
            <th>
                Route
            </th>
            <th>
                Travel time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trips) {
    var companies = string.Join(", ", item.Companies);
    var travelTime = item.To - item.From;
    var travelTimeStr = $"{Math.Round(travelTime.TotalDays)}d {travelTime.Hours}h {travelTime.Minutes}m";
    var route = item.Flights.Count > 1 ? $"{item.Flights.Count - 1} stops" : "Direct";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => companies)
            </td>
            <td>
                @route
            </td>
            <td>
                @Html.DisplayFor(modelItem => travelTimeStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
