@page
@model WebApp.Pages_Providers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].TotalTravelTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].TotalDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].Companies)
            </th>
            <th>
                Route
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trips) {
    var companies = string.Join(", ", item.Companies);
    var travelTime = $"{Math.Round(item.TotalTravelTime.TotalDays)}d {item.TotalTravelTime.Hours}h {item.TotalTravelTime.Minutes}m";
    var route = item.Flights.Count > 1 ? $"{item.Flights.Count - 1} stops" : "Direct";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => travelTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => companies)
            </td>
            <td>
                @route
            </td>
        </tr>
}
    </tbody>
</table>
