@page
@model WebApp.Pages_Providers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].TotalTravelTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].TotalDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips[0].TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trips) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTravelTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @* <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
